/*inicio*/
header {
    position: sticky;
    top: 0;
}
a {
    text-align: center;
}
.nav-link {
    font-family: 'Open Sans';
    font-size: larger;
    text-align:center ;
}
.btnVolver {
    font-family: 'Open Sans';
    font-size: medium;
}

.inicioContainer {
    padding: 0px;
    display: flex;
    flex-direction: column;
}


.inicioContainer .InicioContainerresp img {
 width: 100vw;
 height: auto;
 margin-bottom: 20px;
 margin-left: 0px;

}
.InicioContainerresp {
    width: 100%;
    align-self: center;
    padding: 0px;
}
.inicioContainer .InicioContainerresp .diviniciotext p {
    padding: 15px;
    font-size: 20px;
    font-weight: 400;
    width: 100%;

}

.inicioContainer .InicioContainerresp .diviniciotext h1 {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-left: 16px;
}


/*Terapias mobile*/
.terapiasContainer {
    background-color: #205375;
    display: flex;
    flex-direction: column;
}
.tarjetasContainer{
    padding: 18px;
    display: flex;
    flex-direction: column;
}
.tarjetaTerapias {
    display: inline-grid;
    grid-template-rows: 70px 60px 380px;
    justify-items: center;
    margin-bottom: 10px;
}
.imgTarjeta {
    width: 50px;
}
.h2Tarjeta{
    font-family: 'Montserrat';
    color: white;
    font-weight: 900;
    font-size: 24px;
}
.h2Tarjeta2{
    font-family: 'Montserrat';
    color: white;
    font-weight: 900;
    font-size: 24px;
}
.pTarjeta {
    text-align: center;
    font-family: 'Open Sans';
    color: white;
    font-size: 19px;
    font-weight: 100;
}
/*Consiste Terapia mobile*/

.h1Consiste{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: center;
}
.imgConsiste {
    width: 100vw;
    margin-bottom: 30px;
}
.pConsiste {
    font-family: 'Open Sans';
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
/*Solicitar un turno mobile*/
.Solicitar {
    background-color: #112B3C;
}
.solicitarContainer {
    display: grid;
    grid-template-rows: 90px 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.h2Solicitar{
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}
.btnTurno {
    width: 200px;
    height: 40px;
    justify-self: center;
    border-radius: 50px;
    background-color: #F66B0E;
    font-family: 'Poppins';
    font-weight: 500;
    border: 0px;
    font-size: large;
}
/*Videos mobile*/
.videoSection {
    display: flex;
    justify-content: center;
}
.videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.separadorVideos {
    width: 100%;
    height: 35px;
}
.h2Videos {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
/*Contacto Movile*/
.seccionContacto {
    background-color: #EFEEEE;
}
.gridContacto {
    display: inline-grid;
    grid-template-rows: 500 100 100 100 100 100 100 100 100 ;
    vertical-align: top;
    width: 100%;
}
.h2Contacto {
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 800;
    text-align: center;
}
.contactoTitulos {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
}
.pContacto {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
}
.redesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.iconRedes {
    width: 50px;
    height: 50px;
    margin: 20px;
}
.mapContacto {
    width: 100vw;
}
/*Footer*/
.pFooter {
    font-size: 15;
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 40px;
}
@media (min-width: 576px ) /*inicio 1920*/
{
    .inicioContainer .InicioContainerresp .diviniciotext h1 {
        font-size: 40px;
        margin-bottom: 20px;

    }
    .inicioContainer .InicioContainerresp {
        width: 75%;
        padding: 3px;
        margin: 0px;
        padding-top: 25px;
        
    }
    .inicioContainer .InicioContainerresp img { 
        width: 500px;
        height: 500px;
    }
    .InicioContainerresp {
        display: flex;
        flex-direction: row;
    }
    
    .inicioContainer .InicioContainerresp .diviniciotext p {
        padding-right: 0px;
        padding-top: 0px;
        font-size: 21px;
    }
    .inicioContainer {
        padding: 0px;
    }
    /*.inicioContainer .InicioContainerresp .diviniciotext h1 {

    }/*Terapias 1920*/
    .tarjetasContainer {
        justify-content:space-around;
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .tarjetaTerapias {
        grid-template-rows: 70px 60px 400px;
        width: 320px;
        margin-bottom: 0px;
    }
/*Consiste Terapia 1920*/
.consisteTerapia {
    display: flex;
    justify-content: center;
}
.consisteContainer {
    width: 75%;
}
.imgConsiste {
    width: 600px;
    height: 450px;
    display: inline-block;
    vertical-align: top;
}
.divTextoConsiste {
    width: 600px;
    display: inline-block;
}
.pConsiste{
    width: 100%; 
    padding-right: 0px;}
.h1Consiste {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 90px;
}
/*Solicitar un turno 1920*/
.Solicitar {
    background-color:white;
    display: flex;
    justify-content: center;
}
.solicitarContainer {
    display: grid;
    grid-template-rows: 80px 60px;
    background-color: #112B3C;
    width: 100%;
    justify-content: center;
   
}
.h2Solicitar{
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 35px;

}
.btnTurno {
    width: 200px;
    height: 40px;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
    background-color: #F66B0E;
    font-family: 'Poppins';
    font-weight: 500;
    border: 0px;
}
/*videos*/
.separadorVideos {
    height: 40px;
}
.videoSection {
    display: flex;
    justify-content: center;
}
.videoContainer {
    width: 50%;
}
.video{
    height: 500px;
}
.h2Videos {
    font-size: 40px;
}
/*contacto 1920*/
.contactoContainer {
    display: flex;
    width: 75%;
    justify-content: center;
    margin-left: 170px;
}
.seccionContacto {
    width: 100%;
    justify-content: center;
}
.gridContacto {
    width: 50%;
}
.mapContacto {
    width: 450px;
    height: 400px;
}
}